.bricks-wrapper .entry {
    margin-bottom: 4rem;
}

.bricks-wrapper .entry__thumb, 
.bricks-wrapper .entry__text {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.bricks-wrapper .entry__thumb {
    overflow: hidden;
    position: relative;
}

.bricks-wrapper .entry__thumb img {
    vertical-align: bottom;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 0;
}

.bricks-wrapper .entry__thumb .thumb-link::before {
    z-index: 1;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.bricks-wrapper .entry__thumb .thumb-link::after {
    z-index: 1;
    display: block;
    content: "...";
    font-family: georgia, serif;
    font-size: 3.2rem;
    height: 90px;
    width: 90px;
    letter-spacing: .2rem;
    line-height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    text-align: center;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 50%;
    top: 50%;
}

.bricks-wrapper .entry__thumb:hover .thumb-link::before {
    opacity: 1;
    visibility: visible;
}

.bricks-wrapper .entry__thumb:hover .thumb-link::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bricks-wrapper .entry__thumb:hover .thumb-link img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.bricks-wrapper .entry__text {
    padding: 2.4rem 2.8rem 3.6rem;
    background-color: white;
}

.bricks-wrapper .entry__title {
    font-size: var(--text-lg);
    font-weight: 500;
    line-height: var(--vspace-1);
    margin-top: 0;
    margin-bottom: var(--vspace-0_5);
}

.bricks-wrapper .entry__title a, 
.bricks-wrapper .entry__title a:visited {
    color: black;
}

.bricks-wrapper .entry__meta {
    font-family: var(--font-1);
    font-size: var(--text-sm);
    margin-bottom: calc(0.125 * var(--space));
}

.bricks-wrapper .entry__meta a, 
.bricks-wrapper .entry__meta a:visited {
    color: black;
}

.bricks-wrapper .entry__cat-links a::after {
    content: ", ";
}

.bricks-wrapper .entry__cat-links a:last-child::after {
    display: none;
}

.bricks-wrapper .entry__excerpt {
    font-size: 1.5rem;
    line-height: 1.733;
    color: var(--color-text-light);
}

.bricks-wrapper .entry__excerpt p {
    margin-bottom: 0;
}


.blog-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 60px 0;
    max-width: 1536px;
    margin: 0 auto;
}
.post-content .post-title{
    color: var(--primary-color);
}
.blog-content .single-post img{
    max-width: 100%;
    width: 100%;
}
.blog-grid .single-post{
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #eee;
    margin: 5px;
    transition: 0.5s all;
}
.blog-grid .single-post:hover{
    transform: scale(1.05);
}
.blog-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.single-post .holder{
    padding: 20px;
}
.single-post .holder > *{
    margin-bottom: 10px;
    padding-bottom: 0;
    display: block;
    color: #000;
}
.single-post .holder hr{
    border-color: #fff;
    height: 1px;
}
.blog-sidebar .search input{
    border: 1px solid #bfbfbf;
    height: 40px;
    padding: 5px;
    margin: 15px 0;
    display: block;
    width: 100%;
    outline: none;
    font-size: 14px;
}

@media(min-width: 1200px){
    .blog-content> .blog-grid{
        width: 65%;
    }
    .blog-content> .blog-sidebar{
        width: 35%;
    }
}
.blog-sidebar .recent-posts > *{
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
}
.blog-sidebar .side-post a{
    color: #000;
}