.inner-banner{
    height: 300px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://res.cloudinary.com/decjkxgo7/image/upload/v1678223096/inner-banner_jf0rdz.jpg);
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.inner-banner h1, .inner-banner p{
    text-align: center;
}