:root{
  --primary-color: #FECC18;
  --text-color: #222;
  --text-h-color: #7a7575;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body *{
	font-family: 'Quicksand', sans-serif;
}
a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}
h1{
  font-size: 30px;
  margin-bottom: 10px;
}
@media(min-width: 992px){
h1{
  font-size: 44px;
}}
@media(min-width: 1200px){
h1{
  font-size: 52px;
  line-height: 56px;
}}
h2{
  font-size: 18px;
  margin-bottom: 15px;
}
@media(min-width: 992px){
h2{
  font-size: 26px;
}}
a, li, span, input, select{
  font-weight: 500;
}
p{
  font-weight: 500;
  line-height: 20px;
}

.container{
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
  padding: 0 15px;
}
.primary-btn{
  padding: 10px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: 18px;
  color: var(--text-color);
  cursor: pointer;
  display: block;
  max-width: 165px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
}
.primary-btn:hover, .primary-btn:active, .primary-btn:focus{
  background-color: #fff;
}
.secondary-btn{
  padding: 15px 10px;
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  font-size: 18px;
  color: var(--primary-color);
  cursor: pointer;
  display: block;
  max-width: 165px;
  text-align: center;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-weight: 500;
}
.secondary-btn:hover{
  color: var(--text-color);
  background-color: var(--primary-color);
}
.section-head{
  text-align: center;
  color: var(--primary-color);
}
.section-head h1{
  margin-bottom: 25px;
}

.section-title{
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 10px;
}
.section-title .button-holder a{
  margin-left: 0 auto;
}
@media(min-width: 480px){
  .section-title{
      flex-flow: row;
      padding: 10px 30px;
      justify-content: space-between
  }
}



/*Header Style Start*/
header.header{
    padding: 10px 0;
    position: relative;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 99999;
    border-bottom: 1px solid #e6e1e1;
}

.header-menu #menu{
    display: flex;
    align-items: center;
}
.header-holder{
    display: flex;
    align-items: center;
}
.header .logo{
    height: 40px;
}
.logo-wrap a{
  display: block;
}
.header-dropdown{
    display: none;
}
.header-menu #menu li a{
	display: inline-block;
}
.header-menu #menu li a, .header-links a{
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}
.header-menu #menu li a:hover, .header-links a:hover{
    color: var(--text-h-color);
}
.hamburger{
    right: 10px;
    transition: ease-in-out 0.3s;
}
.menu-active .hamburger{
    position: absolute;
    right: 255px;
}
.menu-active .hamburger{
  top: 28px;
}
.hamburger a{
    pointer-events: none;
}

.hamburger span{
    position: absolute;
    transition: all 0.5s;
}
.hamburger span:nth-child(2){
  top: 9px;
}
.hamburger span:nth-child(3) {
    top: 18px;
}
.menu-active .hamburger span:nth-child(2) {
    display: none;
}

.menu-active .hamburger span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
    top: 0 !important;
}
.menu-active .hamburger span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
    top: 0 !important;
}
.header-ph i{
    color: var(--text-color);
    transition: all 0.3s;
}
.drop-header-ph i, .drop-header-ph a{
    color: #2e2e2e;
}
.drop-header-ph a{
  margin: 0 auto;
}
.header-ph , .drop-header-ph {
    text-align: center;
}
.drop-header-ph i, .header-ph i{
  padding-right: 10px;
  font-size: 14px;
  position: relative;
  top: -1px;
}
/*Make Header Sticky*/
header.sticky-header{
    position: fixed;
    animation: smoothScroll 0.3s;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
/*Make Header Sticky End*/
@media(min-width: 991px){
    .header-holder{
        justify-content: space-between;
        flex-flow: row;
    }
    .header-menu #menu li{
        margin: 0 12px;
    }
    .drop-header-ph{
        display: none;
    }
    .header .logo{
        height: 80px;
    }
    .hamburger{
        display: none !important;
    }
    .header-links{
        display: flex;
        align-items: center;
    }
    .header-links > div{
        margin: 0 10px;
    }
    .menu-drop{
        display: flex;
        align-items: center;
    }
}
@media(min-width: 1200px){
    .header-menu #menu li{
        margin: 0 16px;
    }
}
@media(max-width: 991px){
    .hamburger{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
}
.hamburger a span{
    height: 4px;
    width: 25px;
    background-color: #2e2e2e;
    display: block;
    margin: 0 auto 4px auto;
    border-radius: 5px;
}
    header #menu{
    flex-flow: column;
}
header .navbar{
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    background-color: #fff;
    height: 100%;
    z-index: 5;
}
header .navbar li{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
header .navbar #menu li a{
    color: #2e2e2e;
}
header #menu li{
    margin: 0;
}
.drop-header-ph{
    margin-top: 20px;
    font-weight: 600;
}
.navbar{
    margin-right: -300px;
    transition: ease-in-out 0.3s;
}
.menu-active .navbar{
    margin-right: 0;
}
.header-links{
    display: none;
}

header .navbar #menu > li > a{
    padding: 10px 15px;
    display: block;
}
}
@media(max-width: 576px){
    .menu-active .logo{
            margin-left: -250px;
    }
    .logo{
        transition: ease-in-out 0.3s;
}}

.header-ph a, .drop-header-ph a{
  display: block;
  width: 181px;
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}
.header-ph a:hover, .drop-header-ph a:hover{
  background-color: #fff;
}






/*Banner Section Start*/
.banner-form #bookTaxi{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 7px 0px #848ab89e;
}
#bookTaxi > h2{
  text-align: center;
}
.banner-form #bookTaxi .form_column > input{
  height: 40px;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 6px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px 0px #848ab89e;
}
#bookTaxi input:focus{
  box-shadow: 0px 0px 15px 0px #d3d3449e !important
}
#bookTaxi select{
  height: 40px;
  font-size: 17px;
  border: none;
  border-radius: 3px;
    box-shadow: 0px 0px 7px 0px #848ab89e;
}
.form_column h3{
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
}
#bookTaxi .secondpkg{
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px 0px #848ab89e;
}
#bookTaxi .primary-btn{
   margin: 10px auto;
}
.banner-form #bookTaxi .form-inner{
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
.banner-form #bookTaxi .form-inner > div{
  margin: 10px;
  width: 50%;
}
.banner-form #bookTaxi .form-inner .form_column > *{
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
}
.banner-form #bookTaxi h2{
  margin-top: 0;
  margin-bottom: 0;
}
#bookTaxi .firstpkg{
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px 0px #848ab89e;
}
.banner-form #bookTaxi *:not[type="checkbox"]{
width: 100%;
}
#bookTaxi label{
  font-size: 17px;
  font-weight: 500;
  padding-right: 15px;
}
#bookTaxi [type="checkbox"]{
  margin-right: 5px;
}
.select2-container--default .select2-selection--single{
  height: 40px !important;
}
.select2 span{
  display: block !important;
  height: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 7px !important;
}
@media(max-width: 1286px){
  .banner-form #bookTaxi .form-inner{
      display: block;
  }
  .banner-form #bookTaxi .form-inner > div{
      width: 100%;
      margin: 0;
  }
}
@media(max-width: 767px){
  .banner-cta{
      margin-bottom: 50px;
  }
}
@media(max-width: 419px){
  #bookTaxi label, .banner-form #bookTaxi .form_column > input{
      font-size: 14px;
  }
}


/*Accordion*/
.accordion-holder{
  padding: 0 30px;
}
.accordion {
  background-color: var(--primary-color);
  color: #000;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.accordion h2{
  margin-bottom: 0;
}
.active, .accordion:hover {
background-color: rgba(254,205,24,0.75);
}

.accordion:after {
  content: '\002B';
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 40px;
}

.active:after {
content: "\2212";
}

.panel {
padding: 0;
background-color: white;
max-height: 0;
overflow: hidden;
transition: all 0.7s ease-in-out;
border: 1px solid #eee;
}
/*Accordion*/




.banner{
  position: relative;
}
.banner-cta-holder{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
}
.banner-cta-row{
  display: flex;
  flex-flow: column;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.banner-cta{
  text-align: center;
}
.banner-cta p{
  font-size: 18px;
  margin-bottom: 20px;;
}
.banner-cta-btn a{
  margin-left: auto;
  margin-right: auto;
}

.banner-slider .item{
  background-color: #fff;
}
.banner-slider .item img{
  opacity: 0.4;
}

@media(max-width: 1200px){
  .banner-slider .item, .banner-slider .item img{
    height: 800px;
    object-fit: cover;
    object-position: 50% top;
}
}
@media(max-width: 991px){
  .banner-cta-row{
    padding-left: 0;
    padding-right: 0;
    padding-top: 110px;
    padding-bottom: 100px;
  }
}
@media(max-width: 767px){
  .banner-slider .item, .banner-slider .item img{
    height: 1000px;
  }
}
@media(min-width: 768px){
  .banner-cta-row{
    flex-flow: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .banner-cta{
    text-align: left;
  }
  .banner-cta-btn a{
    margin: initial;
  }
  .banner-cta-row > div{
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .banner-cta-row > div{
    margin-bottom: 0;
  }
}
.banner-cta-text{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
@media(min-width: 992px){
  .banner-cta-row > div{
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media(min-width: 1200px){
  .banner-slider .item, .banner-slider .item img{
    height: 830px;
    object-fit: cover;
    object-position: 50% top;
}
}
/*Banner Section End*/























/*Why Us Section*/
.why-us {
  padding: 60px 0;
}
.why-us .row{
  display: flex;
  flex-flow: column;
}
.why-us .row .column{
  margin: 10px 0;
}
.why-us .row .content-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 270px;
  padding: 0 10px;
  box-shadow: 0px 0px 7px 0px #848ab89e;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}
.why-us .row .content-holder i{
  font-size: 35px;
  color: var(--primary-color);
}
.why-us .row .content-holder > div{
  text-align: center;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
@media(min-width: 630px){
  .why-us .row{
      flex-flow: row wrap;
      justify-content: center;
  }
  .why-us .row .column{
      margin: 5px;
  }
  .why-us .row .content-holder{
      padding: 0 15px;
  }
}
@media(min-width: 992px){
  .why-us .row .column{
      margin: 10px;
  }
}
/*Why Us End*/









/*Packages*/
.inner-packages{
  padding-top: 40px;
}
.packages{
  padding-bottom: 60px;
}
.packages .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.packages .row > div{
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 0 10px #e2e2e2;
  max-width: 350px;
  margin-left: 10px;
  margin-right: 10px
}
.packages .row > div .details_holder {
  padding: 15px;
}
.packages .row > div .details_holder > *:not(.button-holder){
  margin-bottom: 10px;
}
.packages .row > div .image-holder, .packages .row > div .image-holder img{
  max-width: 100%;
}
.packages .row > div .details_holder h2, .packages .row > div .details_holder i{
  color: var(--primary-color);
}
/*Packages End*/





/*Passport*/

.passport{
  padding: 50px 0;
  background-color: #000;
}
.passport .columns{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.passport .image-holder img{
  max-width: 100%;
  height: 100%;
}
.passport .image-holder{
  width: 100%;
  text-align: center;
}
.passport .content-holder{
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.passport .content-holder a{
  margin-left: auto;
  margin-right: auto;
}
.passport .contact-block{
  width: 15%;
}
@media(min-width: 576px){
  .passport .image-holder{
  width: 30%;
}
  .passport .content-holder{
      width: 70%;
  }

}
@media(min-width: 992px){
  .passport .image-holder, .passport .content-holder{
  width: initial;
}
}
@media(min-width: 1200px){
  .passport .image-holder, .passport .content-holder{
  margin: 0 30px
}
}

/*Passport*/

/*Ticket*/
.tickets{
  padding: 50px 0;
}
.tickets .image-holder{
  margin-bottom: -4px;
}
.tickets .image-holder img{
  max-width: 100%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 20px;
}
.tickets .row{
  display: flex;
  max-width: 1440px;
  justify-content: center;
  border: 1px solid #eee;
  margin: 0 auto;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tickets .row .column_01{
  width: 20%;
}
.tickets .row .column_02{
  width: 60%;
  padding: 0 40px;
}
.tickets .row .column_03{
  width: 20%;
  background-color: #000;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tickets .row .column_02 .content-holder{
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}
.tickets .row .column_03 .btn-holder{
  width: 100%;
}
.tickets .row .column_03 .btn-holder a{
  margin: 0 auto;
}
@media(max-width: 991px){
  .tickets .row{
      flex-flow: column;
      border-radius: 0;
      max-width: 500px;
  }
  .tickets .row .column{
      width: 100%;
      border-radius: 0;
      padding: 0;
  }
  .tickets .row .content-holder{
      padding: 30px 0;
      text-align: center;
  }
  .tickets .row .column_03 .btn-holder{
      padding: 30px 0;
  }
  .tickets .row .content-holder h2{
      font-size: 24px;
  }
  .tickets .row .column img{
      border-radius: 0;
      width: 100%;
  }
}
@media(min-width: 1200px){
.tickets .row .column_02 h2{
  font-size: 36px;
}
.tickets .row .column_02 h3{
  font-size: 26px;
  font-weight: 600;
}}







/*X Grid Start*/
.grid-cols{
  padding: 40px 0;
}
.grid-cols .row{
  display: flex;
  flex-flow: column;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}
.grid-cols .content-holder{
  margin-bottom: 30px;
}
.grid-cols .image-column img{
  max-width: 100%;
  width: 90%;
}
.grid-cols .column{
  text-align: center;
}
.grid-cols .column-holder{
  border: 1px solid #eee;
  padding: 20px 10px;
  margin-bottom: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.grid-cols .content-column{
  background-color: #eee;
}
.grid-cols .content-column .content-holder{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
@media(min-width: 768px){
  .grid-cols .row{
    flex-flow: row wrap;
  }
}

@media(min-width: 992px){
  .grid-cols .column-holder:first-child{
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: none;
  }.grid-cols .column-holder:nth-child(2){
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: none;
  }
  .grid-cols .column-holder{
    max-width: 100%;
    display: flex;
    margin-bottom: 0;
    padding: 0;
  }
  .grid-cols .column-holder > div{
    flex: 1;
  }
  .grid-cols .image-column img{
    height: 100%;
    width: auto;
    margin-bottom: -5px;
  }
  .grid-cols .row-reverse{
    flex-flow: row-reverse wrap;
  }
  .grid-cols .content-holder{
    padding: 0 30px;
  }
}
/*X Grid End*/
























/*Cars Section*/
.car-items{
  padding: 40px 0;
}
.car-items .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.car-items .column{
  border: 1px solid #c6c5c5;
  margin: 5px;
  padding: 30px 0;
  width: 400px;
}
.car-items .column .image-holder{
  text-align: center;
}
.car-items .column img{
  width: 100%;
  max-width: 250px;
}
.car-items .column #car-menu li{
  margin-bottom: 5px;
  text-align: center;
}
.car-items .column #car-menu li i{
  padding-right: 10px;
  color: var(--primary-color);
}
.car-btn-holder{
  text-align: center;
  margin: 30px 0 0 0;
}
#carBtn{
  margin-left: auto;
  margin-right: auto;
}
.taxi-page{
  padding: 60px 0;
}
#car-menu{
  padding: 0 10px;
}
.car-title{
  margin-bottom: 30px;
  text-align: center;
}
.car-desc{
  text-align: center;
  margin-bottom: 30px;
}
@media(max-width: 767px){
  .car-items .column #car-menu li i{
  padding-right: 5px;
}
.car-items .column #car-menu li{
  font-size: 14px;
}
}

















/*Banner Slider*/
.banner-testimonials{
  display: none;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.banner-testimonials .testimonial{
    border-left: 4px solid var(--primary-color);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    background-color: #fff;
  }
  .banner-testimonials .testimonial:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 25px solid var(--primary-color);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-45deg);
    transform-origin: 80% -30% 0;
  }
  .banner-testimonials .testimonial .description{
    font-size: 15px;
    color: var(--text-color);
    line-height: 25px;
    margin-bottom: 15px;
  }
  .banner-testimonials .testimonial .title{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
  }
  .banner-testimonials .owl-theme .owl-controls .owl-page span{
    border: 2px solid var(--primary-color);
    background: #fff;
    opacity: 1;
  }
  .banner-testimonials .owl-theme .owl-controls .owl-page.active span,
  .banner-testimonials .owl-theme .owl-controls .owl-page:hover span{
    background: var(--primary-color);
  }
  @media only screen and (max-width: 767px){
      .banner-testimonials .testimonial{
    padding: 20px;
    text-align: center;
    }
  }

  /*Footer*/
  .footer{
    padding: 60px 0;
    background-color: #000;
  }
  .footer-logo img{
    height: 80px;
  }
  .footer .row{
    display: flex;
    flex-flow: row wrap;
  }
  .footer .column{
    margin-bottom: 10px;
  }
  .footer a, .footer li{
    color: #808795;
    font-weight: 500;
  }
  .footer_title h4, .footer-bio, .footer a:hover{
    color: #fff;
  }
  #footer_menu li{
    margin-bottom: 12px;
  }
  .footer .footer_title{
    margin-bottom: 14px;
  }
  #footer_socials{
    display: flex;
    flex-flow: row;
  }
  #footer_socials > li{
    margin: 5px;
  }
  #footer_socials > li a{
    width: 30px;
    height: 30px;
    border: 2px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
  #footer_socials > li a i{
    color: #fff;
  }
  #footer_socials > li a:hover{
    filter: brightness(0) saturate(100%) invert(77%) sepia(89%) saturate(691%) hue-rotate(342deg) brightness(101%) contrast(99%);
  }
  .footer .copyright{
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin: 20px 0;
  }
  .footer .column_01{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .column_01 .footer-bio{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

  }
  .contact_footer li i{
    background-color: var(--primary-color);
    color: #000;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 14px;
}
.footer-addr-padd{
    padding-left: 40px;
}
.footer .row .column_01{
  margin-bottom: 30px;
}
.footer .row .column_02, .footer .row .column_05{
  width: 100%;
}
.footer .row .column_03, .footer .row .column_04{
  width: 50%;
}
@media(min-width: 480px){
  .footer .row .column_02{
      width: 65%;
  }
  .footer .row .column_03{
      width: 35%;
  }
  .footer .row .column_04, .footer .row .column_05{
      width: 50%;
  }
}
@media(min-width: 630px){
  .footer .row .column_02{
      width: 50%
  }
  .footer .row .column_03, .footer .row .column_04{
      width: 25%;
  }
}
@media(min-width: 768px){
  .footer .row .column_02{
      width: 40%;
  }
  .footer .row .column_03, .footer .row .column_04, .footer .row .column_05{
      width: 20%;
  }
}
@media(min-width: 992px){
  .footer .row .column_01{
      margin-bottom: 50px;
      text-align: left;
      width: 50%;
  }
  .footer .row .column_02{
      width: 30%;
  }
  .footer .row .column_03{
      width: 20%;
  }
}
@media(min-width: 1200px){
  .footer .row .column_01{
      width: 30%;
  }
  .footer .row .column_02{
      width: 25%;
  }
  .footer .row .column_03, .footer .row .column_04, .footer .row .column_05{
      width: 15%;
  }
}

  @media(min-width: 576px){
    #footer_socials{
      flex-flow: row wrap;
    }
  }

  @media(min-width: 992px){

    .footer .column_01 .footer-bio{
      width: 90%;
      margin-left: initial;
      margin-right: initial;
      margin-top: 20px;
    }
  }

.whatsapp-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999
}
.whatsapp-icon img{
    height: 60px;
}

.phone-icon{
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999
}
.phone-icon img{
  height: 60px;
}

/*Reviews Page*/

.testimonial-review{
  padding: 60px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-review .section-head{
  margin-bottom: 20px;
}
.testimonial-review .single-review {
  background: #eee;
  border: 3px solid var(--primary-color);
  padding: 50px 40px;
  color: #000;
  font-size: 15px;
   position: relative;
   margin-bottom: 10px;
   text-align: center;
   font-weight: 500;
}
.testimonial-review .single-review .name {
  text-align: center;
   font-size: 17px;
  font-weight: 600;
    margin-top: 10px;
}
.testimonial-review .single-review:before, .testimonial-review .single-review:after {
  color: var(--primary-color);
  font-size: 100px;
  position: absolute;
}
.testimonial-review .single-review:before {
  content: '“';
  top: -10px;
  left: 10px;
}
.testimonial-review .single-review:after {
  content: '”';
  bottom: -58px;
  right: 10px;
}


/*Single Post*/
.post-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 60px 0;
  max-width: 1536px;
  margin: 0 auto;
}
.post-content .spost .spost-image{
  text-align: center;
}
.post-content .spost img{
  max-width: 100%;
  transition: 0.5s all;
}
.post-content .spost img:hover{
  transform: scale(1.03);
}
.post-sidebar .search input{
  border: 1px solid #bfbfbf;
  height: 40px;
  padding: 5px;
  margin: 15px 0;
  display: block;
  width: 100%;
  outline: none;
  font-size: 14px;
}
.spost-content-holder{
  text-align: initial;
}
.spost .row > div{
  margin-bottom: 20px;
}
.post-sidebar .side-post a{
  color: #000;
}
.post-sidebar .recent-posts > *{
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}

@media(min-width: 1200px){
  .post-content> .post-grid{
      width: 65%;
      padding: 15px;
  }
  .post-content> .post-sidebar{
      width: 35%;
      padding: 15px;
  }
  .spost-content-holder{
      max-width: 100%;
  }
  .post-content .spost .spost-image{
      text-align: initial;
  }
  .post-content .spost img{
      max-width: 100%;
  }
  .spost-content-holder{
      text-align: initial;
      margin: 0 auto;
  }
}

/*Inner Page*/
.inner-banner{
  height: 300px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://res.cloudinary.com/decjkxgo7/image/upload/v1678223096/inner-banner_jf0rdz.jpg);
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.inner-banner h1, .inner-banner p{
  text-align: center;
}

/*Contact Us*/
.form-holder{
  max-width: 1080px;
  margin: 50px auto;
}
.form-holder > .row{
  display: flex;
  box-shadow: 0 0 10px #cfcdcd;
}

.form-holder > .row > div{
height: 100%;
}

.form-holder > .row .column_01 .contact-info{
  background-color: #5cce93;
  color: #fff;
}
.form-holder > .row .column_01 .contact-holder > *{
  padding-bottom: 15px;
}
.form-holder > .row .column_01 ul li{
  padding-bottom: 15px;
}
.form-holder > .row .column_01 ul li i{
  margin-right: 10px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.form-holder > .row .column_01 .contact-info a{
  color: #fff;
}

.form-holder .column_02 form input{
  border: 1px solid #bfbfbf;
  height: 30px;
  padding: 5px;
  margin: 15px 0;
  display: block;
  width: 100%;
  outline: none;
  font-size: 14px;
}
.form-holder .column_02 form textarea{
  width: 100%;
  font-size: 14px;
  outline: none;
  padding: 5px;
  margin: 15px 0;
  display: block;
  border: 1px solid #bfbfbf;
  min-width: 100%; max-width: 100%; max-height: 200px; min-height: 100px;
}
.form-holder .column_02 form button{
  background-color: #5cce93;
  border-color: #5cce93;
  color: #fff;
  font-size: 15px;
}
.addr-padding{
  padding-left: 55px;
}
@media(max-width: 991px){
  .form-holder{
      padding: 20px 0;
  }
  .form-holder > .row > .column .contact-info i{
      font-size: 14px;
      padding: 6px;
  }

  .addr-padding{
      padding-left: 35px;
  }
  .form-holder > .row > .column > div{
      padding: 15px;
  }
}
@media(max-width: 767px){
  .form-holder > .row{
      flex-flow: column;
  }
  .form-holder > .row > div.column{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      padding-left: 0;
      padding-right: 0;

  }
  .form-holder > .row{
      padding-bottom: 30px;
  }
  .form-holder > .row > .column > div{
      padding-bottom: 0;
  }
  .contact-holder{
      display: flex;
      flex-flow: column;
  }

}
@media(min-width: 992px){
  .form-holder > .row > .column > div{
      padding: 20px;
  }
  .form-holder > .row{
      align-items: center;
  }
  .form-holder > .row > div.column_02{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
  }
  .form-holder > .row .column_01{
      width: 30%;
  }
}


/*Blog Page*/
.bricks-wrapper .entry {
  margin-bottom: 4rem;
}

.bricks-wrapper .entry__thumb,
.bricks-wrapper .entry__text {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.bricks-wrapper .entry__thumb {
  overflow: hidden;
  position: relative;
}

.bricks-wrapper .entry__thumb img {
  vertical-align: bottom;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0;
}

.bricks-wrapper .entry__thumb .thumb-link::before {
  z-index: 1;
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.bricks-wrapper .entry__thumb .thumb-link::after {
  z-index: 1;
  display: block;
  content: "...";
  font-family: georgia, serif;
  font-size: 3.2rem;
  height: 90px;
  width: 90px;
  letter-spacing: .2rem;
  line-height: 90px;
  margin-left: -45px;
  margin-top: -45px;
  text-align: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
}

.bricks-wrapper .entry__thumb:hover .thumb-link::before {
  opacity: 1;
  visibility: visible;
}

.bricks-wrapper .entry__thumb:hover .thumb-link::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.bricks-wrapper .entry__thumb:hover .thumb-link img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.bricks-wrapper .entry__text {
  padding: 2.4rem 2.8rem 3.6rem;
  background-color: white;
}

.bricks-wrapper .entry__title {
  font-size: var(--text-lg);
  font-weight: 500;
  line-height: var(--vspace-1);
  margin-top: 0;
  margin-bottom: var(--vspace-0_5);
}

.bricks-wrapper .entry__title a,
.bricks-wrapper .entry__title a:visited {
  color: black;
}

.bricks-wrapper .entry__meta {
  font-family: var(--font-1);
  font-size: var(--text-sm);
  margin-bottom: calc(0.125 * var(--space));
}

.bricks-wrapper .entry__meta a,
.bricks-wrapper .entry__meta a:visited {
  color: black;
}

.bricks-wrapper .entry__cat-links a::after {
  content: ", ";
}

.bricks-wrapper .entry__cat-links a:last-child::after {
  display: none;
}

.bricks-wrapper .entry__excerpt {
  font-size: 1.5rem;
  line-height: 1.733;
  color: var(--color-text-light);
}

.bricks-wrapper .entry__excerpt p {
  margin-bottom: 0;
}


.blog-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 60px 0;
  max-width: 1536px;
  margin: 0 auto;
}
.post-content .post-title{
  color: var(--primary-color);
}
.blog-content .single-post img{
  max-width: 100%;
  width: 100%;
}
.blog-grid .single-post{
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #eee;
  margin: 5px;
  transition: 0.5s all;
}
.blog-grid .single-post:hover{
  transform: scale(1.05);
}
.blog-grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.single-post .holder{
  padding: 20px;
}
.single-post .holder > *{
  margin-bottom: 10px;
  padding-bottom: 0;
  display: block;
  color: #000;
}
.single-post .holder hr{
  border-color: #fff;
  height: 1px;
}
.blog-sidebar .search input{
  border: 1px solid #bfbfbf;
  height: 40px;
  padding: 5px;
  margin: 15px 0;
  display: block;
  width: 100%;
  outline: none;
  font-size: 14px;
}

@media(min-width: 1200px){
  .blog-content> .blog-grid{
      width: 65%;
  }
  .blog-content> .blog-sidebar{
      width: 35%;
  }
}
.blog-sidebar .recent-posts > *{
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}
.blog-sidebar .side-post a{
  color: #000;
}

/*About Page*/
.about-content{
  padding: 60px 0;
}
.inner-content .content-wrapper{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.about-content .row{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
.about-content .content-holder{
  height: 300px;
  max-width: 350px;
  text-align: center;
  border: 1px solid #d2c9c9;
  margin: 5px;
  padding: 10px;
}
.about-content .content-holder .col-header{
  padding: 15px 0;
}
.about-content .content-holder .col-header .icon{
  background-color: var(--primary-color);
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
}
.about-content .content-holder .col-header .icon i{
  font-size: 50px;
}
.about-content .content-holder .col-header{
  margin-top: -65px;
}
.about-content .content-holder .col-body h3{
  margin-bottom: 10px;
}
.about-content .content-holder .col-body{
  margin-top: 20px;
}
.about-content .section-1 .section-head{
  margin-bottom: 70px;
}
.about-content .section-1{
  margin-bottom: 60px;
}
@media(min-width: 992px){
  .about-content .row .column{
      width: 33%;
  }
  .about-content .content-holder{
      max-width: 100%;
  }
  .about-content .row{
      align-items: initial;
      }
}
.bio-section .row{
  display: flex;
  flex-flow: column-reverse;
  margin: 30px 0;
}
.bio-section .row > div{
  margin-bottom: 20px;
}
.bio-section .row .about-bio{
  text-align: center;
}
.bio-section h1{
  text-align: initial;
  color: var(--primary-color);
}
.bio-section .row .about-image img{
  width: 100%;
  max-width: 300px;
}
@media(min-width: 768px){
.bio-section .row .about-bio{
  text-align: initial;
}
  .bio-section .row{
      flex-flow: row;
  }
  .bio-section .row > div{
      margin: 0 5px ;
  }
  .bio-section .row .about-bio{
      width: 70%;
  }
  .bio-section .row .about-image{
      width: 30%;
      text-align: center;
  }

}

/*Checkout*/

.checkout-section{
  padding: 60px 0;
}

.checkout_block_holder .checkout_form{
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.checkout_heading{
  margin-bottom: 20px;
}
.checkout_heading h1{
  text-align: center;
  color: var(--primary-color);
}
.checkout_form label{
  color: #000;
  font-weight: 600;
}
.checkout_block_holder{
  display: flex;
  flex-flow: row wrap;
}
.checkout_block_holder > div{
  width: 100%;
  margin-bottom: 20px;
}
.checkout_form form label{
  display: block;
  margin-bottom: 4px;
}
.checkout_form form input{
  width: 100%;
  height: 40px;
  border: 1px solid #9a9999;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
}
.checkout_form form textarea{
  width: 100%;
  border: 1px solid #9a9999;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  max-width: 100%;
  min-width: 100%;
  font-size: 18px;
}
.checkout_form form input:focus, .checkout_form form textarea:focus, .checkout_form form input:active, .checkout_form form textarea:active{
  box-shadow: 0px 0px 15px 0px #d3d3449e;
}
.checkout_form .checkout_single_input{
  margin-bottom: 10px;
}
.your_order_checkout{
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.your_order_holder .your_order_header, .your_order_holder .checkout_products_holder .checkout_single_item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.your_order_holder .your_order_header{
  padding-bottom: 5px;
}
.your_order_holder .checkout_products_holder .checkout_single_item{
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 500;
}
.your_order_holder .your_order_header > h4:nth-child(2), .your_order_holder .your_order_header > h4:nth-child(3), .your_order_holder .checkout_products_holder .checkout_single_item p:nth-child(2),.your_order_holder .checkout_products_holder .checkout_single_item p:nth-child(3){
  width: 30%;
}
.your_order_holder .your_order_header > h4:first-child, .your_order_holder .checkout_products_holder .checkout_single_item p:first-child{
  width: 50%;
}
.your_order_checkout .more-shopping-btn{
  font-size: 16px;
}
.your_order_holder .checkout_total{
  padding: 10px;
  border: 1px solid #9a9999;
  text-align: center;
}
.your_order_holder .checkout_total p{
  font-weight: 600;
}
.your_order_checkout .more-shopping-btn{
  margin-top: 15px;
}
.your_order_checkout .more-shopping-btn button{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.checkout_form .submit_checkout button{
  cursor: pointer;
  width: 140px;
}

@media(min-width: 768px){
  .checkout_block_holder .checkout_form{
      max-width: 100%;
  }
  .checkout_block_holder > .checkout_form{
      width: calc(60% - 5px);
  }
  .checkout_block_holder .your_order_checkout{
      width: calc(40% - 5px);
  }
  .checkout_block_holder{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }
}
@media(min-width: 1200px){
  .checkout_block_holder .checkout_form{
      padding: 20px;
  }
  .checkout_block_holder .your_order_checkout{
      padding: 20px;
  }
}
